<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Page</title>
</head>
<body>
    <h1>This is the teachers page</h1>
    <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
         Atque culpa sequi, impedit ullam reprehenderit beatae <br>
         voluptatem quis ipsa odio cumque nostrum. <br>
         Quisquam eius quasi rerum, quaerat cum sint corrupti tenetur! <br>
    </h3>
</body>
</html>